/*References used: https://www.computerhope.com/jargon/h/holy-grail-layout.html */

html {
  /*
  The default html interpertation adds margin and padding to the basic elements
  So it can be logically helpful to remove them from the beginning!
  */
  width: 100%;
  font-family:"Times New Roman", Times, serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  font-size: 1.0em;
}

body {
  margin: 0;                      /* no margin at edge of content */
  height: 100%;                   /* 100% height of parent (html) element */
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

h1{
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  border: 0;
  padding: 0;
  margin-top:10px;
  margin-bottom:10px;
}

h2{
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 0;
  border: 0;
  padding: 0;
}

.move-left{
  padding-left: 10px;
}

/*Apply the styles listed between the brackets to any <div>
elements in the HTML that have the container class  */
div.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: .5fr 3fr 1fr;
  grid-template-areas:
    "head head head"
    "panleft mainbody panright"
    "foot foot foot";
}

.top-line{
  display: flex;
  align-items: flex-end; 
}

.between {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-color:rgb(255, 255, 255);
  border-style: solid;
  border-width: 5px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.page-header{
  background:  rgb(255, 255, 255);
  text-align: center;
}

.nobull {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
 }



/*Holy grid layout has 5 grid areas: head, panel left, mainbody, panel right and foot */
div.header {
  background:  rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: head;                /* head corresponds to name in template */
}
div.footer {
  background:  rgb(255, 255, 255);
  grid-area: foot;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}
div.panel {                          
  background:  rgb(255, 255, 255);               
}
div.panel.left {                    
  grid-area: panleft;
}
div.panel.right {
  grid-area: panright;
}
div.mainbody {
  grid-area: mainbody;
  background-color:  rgb(255, 255, 255);
}
